@use "global" as *;

.about-us__description {
    // margin-top: rem(50);
    margin-top: rem(53);
    @include mq("md") {
        margin-top: rem(120);
    }
}

// サンゴのあしらい配置
.about-us__decoration {
    position: relative;
}

.about-us__decoration span {
    display: none;
    @include mq("md") {
        display: inline-block;
        width:rem(194);
        height:rem(181);
        -webkit-mask-image: url(../images/common/coral-reef-decoration.svg);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-image: url(../images/common/coral-reef-decoration.svg);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: $green;

        position: absolute;
        content: "";
        // top: rem(-130);
        top: rem(-91.5);
        z-index: $layer-decoration;
        // 画面幅広いときに広がりすぎないようにする
        right: calc(50% - min(44.2vw, 40rem));
        // あしらい画像サイズ可変する場合の例
        width: clamp(rem(100), 13.5vw, rem(194));

    }
}