@use "global" as *;

.blog-main__inner.inner {
    padding-right: rem(20);
    padding-left: rem(20);
    @include mq("md") {
        padding-right: 0;
        padding-left: 0;
    }
}

.blog-main__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(40);
    @include mq("md") {
        grid-template-columns: repeat(2, 1fr);
        gap: rem(80) rem(40);
    }
}

// .blog-main__item {
//     max-width: rem(333);
//     width: 100%;
// }