@use "global" as *;

.blog-detail__inner.inner {
    padding-right: 0;
    padding-left: 0;
    @include mq("md") {
        max-width: $inner + strip-unit($padding-pc) * 2;
        padding-right: $padding-pc;
        padding-left: $padding-pc;
    }
}