@use "global" as *;

.blog-sidebar__inner.inner {
    padding-right: rem(40);
    padding-left: rem(40);
    @include mq("md") {
        padding-right: 0;
        padding-left: 0;
    }
}


.blog-sidebar__item-post {
    margin-top: rem(24);
}

.blog-sidebar__item-button {
    text-align: center;
    margin-top: rem(40);
}