@use "global" as *;

.breadcrumbs__list {
    display: flex;
    gap: rem(8);
}

.breadcrumbs__item {
    font-size: rem(14);
    text-transform: uppercase;
}

.breadcrumbs__item a:hover {
    @include mq("md") {
        opacity: 0.8;
    }
}