@use "global" as *;

.campaign-tab-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(40);
    margin-top: rem(40);
    @include mq("md") {
        grid-template-columns: 1fr 1fr;
        gap: rem(80) rem(40);
    }
}

.campaign-tab-content__item {
    display: none;
    max-width: rem(280);
    width: 100%;
    @include mq("md") {
        max-width: rem(520);
    }
}

.campaign-tab-content__item.is-active {
    display: block;
}