@use "global" as *;

.cards {
    display: flex;
    flex-direction: column;
    gap: rem(40);
    // カード枚数が増えた場合、4枚目以降は折り返すように
    flex-wrap: wrap;
    @include mq("md") {
        flex-direction: row;
    }
}

.cards__item {
    max-width: rem(333);
    width: 100%;
}