@use "global" as *;

.description__img {
    position: relative;
    width: 100%;
}

.description__img-sub {
    width: calc(calc(128 / 345)) * 100%;
    height: auto;
    position: absolute;
    z-index: 1;
    // top: -12.3%;
    top: -14%;
    left: 0;
    @include mq("md") {
        width: calc(calc(400 / 1080)) * 100%;
        // top: -12.1%;
    }
}

.description__img-sub img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description__img-main {
    width: calc(calc(281 / 345)) * 100%;
    height: auto;
    margin-left: auto;
    @include mq("md") {
        width: calc(calc(880 / 1080)) * 100%;
    }
}

.description__img-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description__body {
    margin-top: rem(40);
    @include mq("md") {
        margin-top: 0;
        position: relative;
    }
}

.description__body-wrapper {
    @include mq("md") {
        position: absolute;
        top: rem(-460);
        left: 18.5%;
        z-index: 2;
        display: flex;
        gap: rem(40);
        // 画面幅縮小時に右側の余白確保
        padding-right: rem(40);
    }
}

.description__title {
    font-family: $second-font-family;
    font-weight: $regular;
    font-size: rem(40);
    line-height: 1;
    color: $green;
    @include mq("md") {
        font-size: rem(80);
        line-height: 1.25;
        color: $white;
    }
}

.description__title span {
    text-transform: capitalize;
}

.description__unit {
    margin-top: rem(16);
    @include mq("md") {
        max-width: rem(400);
        width: 100%;
        margin-top: 0;
    }
}

.description__text {
    font-size: rem(16);
    line-height: 1.5;
    @include mq("md") {
        color: $white;
    }
}

.description__button {
    margin-top: rem(50);
    text-align: center;
    @include mq("md") {
        // margin-top: rem(40);
        margin-top: rem(38.5);
    }
}