@use "global" as *;

.footer {
    background-color: $green;
    padding-top: rem(48);
    padding-bottom: rem(56);
    margin-top: rem(100);
    @include mq("md") {
        padding: rem(80) 0;
        margin-top: rem(157);
    }
}

.footer__head {
    @include mq("md") {
        display: flex;
        // gap: rem(40);
        // gap: rem(30.5);
        gap: rem(33.5);
    }
}

.footer__logo {
    // max-width: rem(120);
    max-width: rem(123);
    width: 100%;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(98deg) brightness(106%) contrast(101%);
    @include mq("md") {
        // max-width: rem(200);
        max-width: rem(205);
    }
}

.footer__icon {
    display: flex;
    // align-items: center;
    margin-top: rem(11.5);
    // margin-top: rem(2);
    gap: rem(16);
    @include mq("md") {
        // margin-top: rem(35);
        // margin-top: rem(30);
        margin-top: rem(40);
        // gap: rem(5.5);
        // gap: rem(2.5);
        gap: rem(15.3);
    }
}

.footer__icon-facebook {
    // width: rem(23);
    // max-width: rem(39);
    // max-width: rem(32.5);
    max-width: rem(24);
    width: 100%;
    // クリック領域確保
    // padding: rem(9);
    // padding-left: 0;
    // margin-bottom: rem(2);
    @include mq("md") {
        // width: rem(26);
        max-width: rem(42);
        margin-bottom: 0;
        // padding: rem(10.5);
        // padding-left: rem(9);
        // padding-left: rem(2.5);
        margin-top: rem(-4);
    }
}

.footer__icon-facebook img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.footer__icon-instagram {
    // width: rem(23);
    // max-width: rem(39);
    // max-width: rem(42);
    max-width: rem(24);
    width: 100%;
    // クリック領域確保
    // padding: rem(8);
    // padding-right: rem(8.8);
    @include mq("md") {
        // width: rem(26);
        max-width: rem(42);
        margin-top: rem(-2);
    }
}

.footer__icon-instagram img {
    width: 100%;
    height: auto;
    object-fit: cover;
}



.footer__nav {
    // margin-top: rem(40);
    // margin-top: rem(17.5);
    margin-top: rem(27);
    @include mq("md") {
        // margin-top: rem(24);
        margin-top: rem(1.5);
    }
}

.footer__copyright {
    display: block;
    // margin-top: rem(28);
    margin-top: rem(40);
    font-family: $second-font-family;
    font-size: rem(12);
    line-height: 1.5;
    color: $white;
    text-align: center;
    text-transform: capitalize;
    @include mq("md") {
        // margin-top: rem(68);
        margin-top: rem(80);
        font-size: rem(14);
        line-height: 1.286;
    }
}