@use "global" as *;

.price-table__table {
    max-width: rem(345);
    width: 100%;

    // 隣接するセル同士のボーダーラインを重ね合わせて表示する
    border-collapse: collapse;

    border-right: 1px solid $green;
    border-bottom: 1px solid $green;
    border-spacing: 0;

    display: block;

    @include mq("md") {
        max-width: rem(700);

        display: table;
    }
}

tbody {
    display: block;

    @include mq("md") {
        display: table-row-group;
    }
}

.price-table__tr {
    display: flex;
    flex-wrap: wrap;

    @include mq("md") {
        display: table-row;
    }
}


.price-table__th {
    // border: 1px solid $green;
    border-top: 1px solid $green;
    border-left: 1px solid $green;


    // position: relative;
    background-color: $green;

    font-family: $base-font-family;
    font-weight: $bold;
    font-size: rem(16);
    line-height: 1.5;
    color: $white;

    display: block;
    width: 100%;
    padding: rem(8) rem(16);
    padding-left: rem(30);

    @include mq("md") {
        padding: rem(41) rem(16) rem(113);
        width: calc(calc(200 / 700) * 100%);

        display: table-cell;
    }
}

// .price-table__th::before {
//     display: inline-block;
//     width: rem(24);
//     height: rem(24);
//     position: absolute;
//     content: "";
//     top: 50%;
//     // 100px-24px=76px
//     left: calc(calc(76 / 345) * 100%);
//     left: 50%;
//     transform: translateY(-50%);
//     -webkit-mask-image: url(../images/common/information-tab-icon1.svg);
//     -webkit-mask-size: contain;
//     -webkit-mask-repeat: no-repeat;
//     -webkit-mask-position: center;
//     mask-image: url(../images/common/information-tab-icon1.svg);
//     mask-size: contain;
//     mask-repeat: no-repeat;
//     mask-position: center;
//     background-color: $white;
//     @include mq("md") {
//         width: rem(64);
//         height: rem(64);
//         top: calc(calc(73 / 178) * 100%);
//         left: 50%;
//         transform: translateX(-50%);
//     }
// }

.price-table_th span {
    position: relative;
}

.price-table__th span::before {
    // display: inline-block;
    width: rem(24);
    height: rem(24);
    position: absolute;
    content: "";
    top: 50%;
    // 100px-24px=76px
    // left: calc(calc(76 / 345) * 100%);
    left: 0;
    transform: translateY(-50%);
    // transform: translate(-50%, -50%);
    -webkit-mask-image: url(../images/common/information-tab-icon1.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url(../images/common/information-tab-icon1.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $white;
    @include mq("md") {
        width: rem(64);
        height: rem(64);
        top: calc(calc(73 / 178) * 100%);
        left: 50%;
        transform: translateX(-50%);
    }
}



.price-table__td-content {
    // border: 1px solid $green;
    border-top: 1px solid $green;
    border-left: 1px solid $green;

    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(16);
    line-height: 1.5;
    color: $black;
    // font-size: clamp(12px, 16 / 375 * 100vw, 16px);

    // flex: calc(calc(240 / 345) * 100%);
    // flex: 0.6957;
    // width: calc(calc(240 / 346) * 100%);
    flex: 0.6936;
    padding: rem(7) rem(16);
    // テキストが途中で開業しない程度に左右の余白調整
    padding: rem(7) rem(8);
    text-align: center;
    // 上下の余白感がテキスト量によって異なるので、min-heightを指定
    min-height: rem(60);
    // テキスト上下左右中央寄せ
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq("md") {
        padding: rem(18) rem(16);
        width: calc(calc(340 / 700) * 100%);

        text-align: left;
        display: table-cell;
    }
}

.price-table__td-price {
    // border: 1px solid $green;
    border-top: 1px solid $green;
    border-left: 1px solid $green;

    font-family: $base-font-family;
    font-weight: $regular;
    // font-size: rem(16);
    line-height: 1.5;
    color: $black;
    text-align: right;
    font-size: clamp(12px, 16 / 375 * 100vw, 16px);


    // flex: calc(calc(106 / 345) * 100%);
    // flex: 0.3072;

    // display: flex;
    // align-items: center;
    // justify-content: flex-end;
    // width: calc(calc(106 / 346) * 100%);
    flex: 0.3064;
    // padding: rem(7) rem(16);
    // テキストが途中で開業しない程度に左右の余白調整
    padding: rem(7) rem(8);
    // 上下の余白感がテキスト量によって異なるので、min-heightを指定
    min-height: rem(60);
    // テキスト上下左右中央寄せ
    display: flex;
    align-items: center;
    justify-content: flex-end;
    

    @include mq("md") {
        padding: rem(18) rem(16);
        width: calc(calc(162 / 700) * 100%);

        text-align: right;
        display: table-cell;
    }
}






// .price-table__th {
//     padding: rem(8) rem(16);
//     background-color: $green;
//     position: relative;

//     font-family: $base-font-family;
//     font-weight: $bold;
//     font-size: rem(16);
//     line-height: 1.5;
//     color: $white;
// }

// .price-table__th::before {
//     display: inline-block;
//     width: rem(24);
//     height: rem(24);
//     position: absolute;
//     content: "";
//     top: 0;
//     left: 0;
//     -webkit-mask-image: url(../images/common/information-tab-icon1.svg);
//     -webkit-mask-size: contain;
//     -webkit-mask-repeat: no-repeat;
//     -webkit-mask-position: center;
//     mask-image: url(../images/common/information-tab-icon1.svg);
//     mask-size: contain;
//     mask-repeat: no-repeat;
//     mask-position: center;
//     background-color: $white;
// }

// .price-table__td-content {
//     padding: rem(7) rem(16);
//     border: 1px solid $green;

//     font-family: $base-font-family;
//     font-weight: $regular;
//     font-size: rem(16);
//     line-height: 1.5;
//     color: $black;
//     text-align: center;

//     width: calc(calc(240 / 345) * 100%);
// }

// .price-table__td-price {
//     padding: rem(19) rem(16);
//     border: 1px solid $green;

//     font-family: $base-font-family;
//     font-weight: $regular;
//     font-size: rem(16);
//     line-height: 1.5;
//     color: $black;
//     text-align: right;

//     width: calc(calc(106 / 345) * 100%);
// }