@use "global" as *;

.section-title {
    text-align: center;
}

.section-title__en {
    font-family: $second-font-family;
    font-weight: $regular;
    font-size: rem(32);
    line-height: 1.25;
    color: $black;
    text-transform: capitalize;
    @include mq("md") {
        font-size: rem(40);
        line-height: 1;
    }
}

.section-title__en::first-letter {
    color: $green;
}

.section-title__ja {
    font-size: rem(12);
    line-height: 1.5;
    color: $green;
}

