@use "global" as *;

.voice-tab-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(40);
    @include mq("md") {
        grid-template-columns: 1fr 1fr;
        gap: rem(80) rem(40);
    }
}

.voice-tab-content__item {
    // テキスト量が違ってもカード高さを揃えるために記述
    display: flex;
}