@use "global" as *;

.voice__posts {
    margin-top: rem(40);
    display: flex;
    flex-direction: column;
    // gap: rem(40);
    gap: rem(35);
    @include mq("md") {
        // margin-top: rem(30);
        margin-top: rem(28.5);
        flex-direction: row;
        gap: rem(38.2);
    }
}

.voice__button {
    margin-top: rem(40);
    // ボタン上のカードのズレをボタン上の余白で帳尻合わせる
    // margin-top: rem(38.5);
    text-align: center;
    @include mq("md") {
        // margin-top: rem(80);
        margin-top: rem(78.5);
    }
}

// 魚のあしらい配置
.voice__decoration-left {
    position: relative;
}

.voice__decoration-left span {
    display: none;
    @include mq("md") {
        display: inline-block;
        width:rem(301);
        height:rem(138);
        -webkit-mask-image: url(../images/common/right-facing-fishes-green-decoration.svg);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-image: url(../images/common/right-facing-fishes-green-decoration.svg);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: $green;

        position: absolute;
        content: "";
        // top: rem(-110);
        top: rem(-120);
        z-index: $layer-decoration;
        // 画面幅広いときに広がりすぎないようにする
        left: calc(50% - min(43vw, 38.75rem));
        // あしらい画像サイズ可変する場合の例
        width: clamp(rem(150), 20.9vw, rem(301));

    }
}

// タツノオトシゴのあしらい配置
.voice__decoration-right {
    position: relative;
}

.voice__decoration-right span {
    display: none;
    @include mq("md") {
        display: inline-block;
        width:rem(71);
        height:rem(162);
        -webkit-mask-image: url(../images/common/seahorse-decoration.svg);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-image: url(../images/common/seahorse-decoration.svg);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: $green;

        position: absolute;
        content: "";
        // top: rem(-80);
        // top: rem(-94.5);
        top: rem(-96.1);
        z-index: $layer-decoration;
        // 画面幅広いときに広がりすぎないようにする
        right: calc(50% - min(37.5vw, 33.75rem));
        // あしらい画像サイズ可変する場合の例
        width: clamp(rem(60), 4.93vw, rem(71));

    }
}